@import '../../../../styles/index.scss';

.icons__language {
    align-items: center;
    display: flex;
    font-size: 12px;
    height: 16px;
    justify-content: center;
    line-height: 14px;
    width: 16px;
}
