@import '../../styles/index.scss';

$card-header-height: 36px;

.card {
    backdrop-filter: $blur-8;
    background: $card-background;
    border: 1px solid $card-stroke;
    box-shadow: -2px 2px $shadow-4, 2px 2px $shadow-4;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    z-index: 0;

    &--rect {
        height: 150px;
        width: 300px;
    }

    &--rect-large {
        height: 150px;
        width: 620px;
    }

    &--square {
        height: 300px;
        width: 300px;
    }

    &__body {
        bottom: 0;
        position: absolute;
        top: $card-header-height;
        width: 100%;
    }

    &__header {
        display: flex;
        height: $card-header-height;
        justify-content: space-between;
        width: 100%;
    }

    &__title {
        color: $text-card-title;
        display: inline-block;
        font-size: 18px;
        font-weight: 300;
        line-height: $card-header-height;
        padding-left: 10px;
    }

    &__subtitle {
        color: $text-gray;
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        line-height: $card-header-height;
        padding-right: 10px;
    }
}
