@import '../../styles/index.scss';

.modal {
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    &__close-button-layout {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}
